.JoinPage{
    background-color: rgb(34, 34, 34);
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JoinContainer{
   
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img{
    width: 10vmax;
}

.JoinContainer >h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    font-family: 'Roboto', sans-serif;
}
#joinInput{
    width: 25vmax;
    padding: 1vmax;
    margin: 1vmax;
    border: none;
    outline:none;
    font-size: 1.2vmax;

}
.joinbtn{
    width: 25vmax;
    padding: 1vmax;
    border: none;
    color: white;
    background-color: rgb(119, 204, 238);
    outline:none;
    font-size: 1.2vmax;
   
}